extends ../templates/base

block content
    div(class="section")
        div(class="intro")
            div(class="intro-slider")
                div(class="intro-slider-item")
                    img(src="../dummy/intro.png", class="intro-slider-img")
                    div(class="intro-slider-text")
                        div(class="intro-slider-title") WE ARE BANANAS, 
                            br
                            | CRAFTSMEN OF 
                            br
                            | EXPERIENCES
                        div(class="intro-slider-subtitle") We forge connections between brand and people. 
                div(class="intro-slider-item")
                    img(src="../dummy/intro.png", class="intro-slider-img")
                    div(class="intro-slider-text")
                        div(class="intro-slider-title") WE ARE BANANAS, 
                            br
                            | CRAFTSMEN OF 
                            br
                            | EXPERIENCES
                        div(class="intro-slider-subtitle") We forge connections between brand and people. 
                div(class="intro-slider-item")
                    img(src="../dummy/intro.png", class="intro-slider-img")
                    div(class="intro-slider-text")
                        div(class="intro-slider-title") WE ARE BANANAS, 
                            br
                            | CRAFTSMEN OF 
                            br
                            | EXPERIENCES
                        div(class="intro-slider-subtitle") We forge connections between brand and people. 
    
    div(class="section")
        div(id="services", class="services")
            div(class="page-inner page-inner--w3")
                div(class="center")
                    div(class="section-title", data-services-title) Services
                    div(class="section-subtitle") We can help you with a wide range of tactics within brand activation, depending on your business objectives or marketing goals. This gives us proven expertise for all services from Tier 1 to Tier 3.
            
            div(class="page-inner page-inner--w2")
                div(class="services-clearfix")
                    div(class="services-list")
                        div(class="services-item services-item--yellow")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") Foodtruck
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_2.svg
                                div(class="services-more noskew")
                                    a(href="#", class="btn btn-black services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item")
                            div(class="services-container")
                                div(class="services-name noskew") MERCHANDISING
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_1.svg
                                div(class="services-text noskew") Brand supporting logistics
                                    br
                                    | from retail to events
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") in store
                                    br
                                    | activation
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_3.svg
                                div(class="services-text noskew") Activate your band in the
                                    br
                                    | point of sale
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        a(href="#more", class="link services-item services-item-link", data-services-more)
                            div(class="services-container")
                                div(class="services-name noskew") VIEW MORE
                                    br
                                    | SERVICES
                                    
    div(class="section")
        div(class="cases")
            div(class="page-inner page-inner--w3")
                div(class="center")
                    div(class="section-title", data-services-title) Cases
                    div(class="section-subtitle") Discover the experiences we crafted for our clients.
                        br
                        | Each campaign never stands alone but is embedded in a broader strategy.
                                            
            div(class="page-inner page-inner--w0")
