extends ../templates/base

block content
    div(class="section")
        div(class="intro")
            div(class="intro-slider")
                div(class="intro-slider-item")
                    img(src="../dummy/intro.png", class="intro-slider-img")
                    div(class="intro-slider-text")
                        div(class="intro-slider-title") WE ARE BANANAS, 
                            br
                            | CRAFTSMEN OF 
                            br
                            | EXPERIENCES
                        div(class="intro-slider-subtitle") We forge connections between brand and people. 
                div(class="intro-slider-item")
                    img(src="../dummy/intro.png", class="intro-slider-img")
                    div(class="intro-slider-text")
                        div(class="intro-slider-title") WE ARE BANANAS, 
                            br
                            | CRAFTSMEN OF 
                            br
                            | EXPERIENCES
                        div(class="intro-slider-subtitle") We forge connections between brand and people. 
                div(class="intro-slider-item")
                    img(src="../dummy/intro.png", class="intro-slider-img")
                    div(class="intro-slider-text")
                        div(class="intro-slider-title") WE ARE BANANAS, 
                            br
                            | CRAFTSMEN OF 
                            br
                            | EXPERIENCES
                        div(class="intro-slider-subtitle") We forge connections between brand and people. 
            div(data-goto="#next", class="intro-scroll") Scroll down
            
    div(class="section")
        div(id="next", class="services services--home")
            div(class="page-inner page-inner--w3")
                div(class="center")
                    div(class="section-title", data-services-title) Services
                    div(class="section-subtitle") We can help you with a wide range of tactics within brand activation, depending on your business objectives or marketing goals. This gives us proven expertise for all services from Tier 1 to Tier 3.
            
            div(class="page-inner page-inner--w3")
                div(class="services-clearfix")
                    div(class="services-list")
                        div(class="services-item services-item--yellow")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") Foodtruck
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_2.svg
                                div(class="services-more noskew")
                                    a(href="#", class="btn btn-black services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item")
                            div(class="services-container")
                                div(class="services-name noskew") MERCHANDISING
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_1.svg
                                div(class="services-text noskew") Brand supporting logistics
                                    br
                                    | from retail to events
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") in store
                                    br
                                    | activation
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_3.svg
                                div(class="services-text noskew") Activate your band in the
                                    br
                                    | point of sale
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        a(href="services.html", data-container=".services--full", class="link services-item services-item-link", data-services-more)
                            div(class="services-container")
                                div(class="services-name noskew") VIEW MORE
                                    br
                                    | SERVICES
                                    
    div(class="section")
        div(class="cases")
            div(class="page-inner page-inner--w3")
                div(class="center")
                    div(class="section-title", data-services-title) Cases
                    div(class="section-subtitle") Discover the experiences we crafted for our clients.
                        br
                        | Each campaign never stands alone but is embedded in a broader strategy.
                                            
            div(class="page-inner page-inner--w0")
                div(class="cases-list")
                    div(class="cases-item cases-item--yellow cases-item--w50")
                        img(src="../dummy/cases_1.png", class="cases-img")
                        div(class="cases-item-info")
                            div(class="cases-logo")
                                include ../../prod/svg/toyota.svg
                            div(class="cases-title") DEWAR'S HOTEL INTERNATIONAL
                            div(class="cases-brand") Brand Activations
                            div(class="cases-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elit felis, porta ut massa in, consectetur finibus nibh. Vestibulum in efficitur velit. Proin mollis est in risus faucibus, nec finibus mauris vehicula. 
                            div(class="cases-more")
                                a(href="#", class="btn btn-black cases-link")
                                    span(class="cases-link-text") Read more
                            
                    div(class="cases-item cases-item--w25")
                        img(src="../dummy/cases_2.png", class="cases-img")
                        
                        div(class="cases-more")
                            a(href="#", class="btn btn-black cases-link")
                                span(class="cases-link-text") Read more
                                
                    div(class="cases-item cases-item--w25")    
                        img(src="../dummy/cases_3.png", class="cases-img")   
                            
                    div(class="cases-item cases-item--w25")
                        img(src="../dummy/cases_4.png", class="cases-img")
                            
                    div(class="cases-item cases-item--w25 cases-item--more")
                        div(class="cases-more")
                            a(href="#", class="btn btn-black cases-link")
                                span(class="cases-link-text") More cases
                                
    div(class="section")
        div(class="clients")
            div(class="page-inner page-inner--w2")
                div(class="center")
                    div(class="section-title", data-services-title) MEET OUR BELOVED CLIENTS
        
            div(class="page-inner page-inner--w2")
                div(class="clients-list")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/KBC.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/Aoste.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/BSH.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/Panos.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/Tempo_Team.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/Leonidas.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/Teisseire.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/Toyota.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/mcdonalds.png", class="clients-img")
                    div(class="clients-item")
                        div(class="clients-holder")
                            img(src="../dummy/KBC.png", class="clients-img")
    
    div(class="section")
        div(class="director")
            div(class="page-inner page-inner--w3")
                div(class="director-container center")
                    div(class="director-holder")
                        img(src="../dummy/avatar.png", class="director-avatar")
                    div(class="director-name") Kjell Colsoul
                    div(class="director-position") Managing Director at Bananas
                    div(class="director-quote") Being the first one in the office, before the field crew starts, before the office team arrives and enjoying the silence before the storm.
    
    div(class="comeback")
        div(class="page-inner page-inner--w3")
            div(class="center")
                div(class="comeback-title") Want to work with us
                div(class="comeback-more")
                    a(href="#", class="btn btn-black comeback-link")
                        span(class="comeback-link-text") Read more
