extends ../templates/base

block content
    div(class="section section-page")
        div(class="services services--full")
            div(class="page-inner page-inner--w1")
                div(class="center")
                    div(class="section-title", data-services-title) Services
            
                div(class="services-clearfix")
                    div(class="services-list")
                        div(class="services-item services-item--yellow", style="grid-area: 2 / 2 / 4 / 3;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") Foodtruck
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_2.svg
                                div(class="services-text noskew") Great way to engage with your
                                    br
                                    | audience in a fresh and foodie way.
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item", style="grid-area: 1 / 3 / 3 / 4;")
                            div(class="services-container")
                                div(class="services-name noskew") MERCHANDISING
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_1.svg
                                div(class="services-text noskew") Brand supporting logistics
                                    br
                                    | from retail to events
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item", style="grid-area: 2 / 4 / 4 / 5;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") in store
                                    br
                                    | activation
                                div(class="services-holder noskew")
                                    include ../../prod/svg/service_3.svg
                                div(class="services-text noskew") Activate your band in the
                                    br
                                    | point of sale
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item", style="grid-area: 3 / 3 / 5 / 4;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") Events
                                div(class="services-holder noskew")
                                    include ../../prod/svg/services_5.svg
                                div(class="services-text noskew") Create your own custom event
                                    br
                                    | for all your shareholders
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item", style="grid-area: 4 / 2 / 6 / 3;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") festivals
                                div(class="services-holder noskew")
                                    include ../../prod/svg/services_6.svg
                                div(class="services-text noskew") Connect with people in
                                    br
                                    | a festive way
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item", style="grid-area: 5 / 3 / 7 / 4;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") Sampling
                                div(class="services-holder noskew")
                                    include ../../prod/svg/services_10.svg
                                div(class="services-text noskew") Create brand preference by
                                    br
                                    | having people taste your product
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                                        
                        div(class="services-item", style="grid-area: 4 / 4 / 6 / 5;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") photo
                                    br
                                    | activation
                                div(class="services-holder noskew")
                                    include ../../prod/svg/services_11.svg
                                div(class="services-text noskew") Capture memorable moments
                                    br
                                    | to share online
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                                        
                        div(class="services-item", style="grid-area: 6 / 2 / 8 / 3;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") Popup
                                div(class="services-holder noskew")
                                    include ../../prod/svg/services_9.svg
                                div(class="services-text noskew") Create an immersive experience
                                    br
                                    | in a temporary setting
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                        div(class="services-item", style="grid-area: 8 / 2 / 10 / 3;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") Ontraid
                                div(class="services-holder noskew")
                                    include ../../prod/svg/services_12.svg
                                div(class="services-text noskew") Activate your band in the
                                    br
                                    | point of sale
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                                        
                        div(class="services-item", style="grid-area: 5 / 1 / 7 / 2;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") Hospitality
                                div(class="services-holder noskew")
                                    include ../../prod/svg/services_7.svg
                                div(class="services-text noskew") The right people for all your
                                    br
                                    | events and hospitality
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
                                        
                        div(class="services-item", style="grid-area: 7 / 1 / 9 / 2;")
                            div(class="services-container")
                                div(class="services-name noskew") 
                                    span(class="noskew") mia
                                div(class="services-holder noskew")
                                    include ../../prod/svg/services_8.svg
                                div(class="services-text noskew") The mobile activation on wheels
                                    br
                                    | for maximum coverage
                                div(class="services-more noskew hide")
                                    a(href="#", class="btn btn-yellow services-link")
                                        span(class="services-link-text") Read more
                                        
