extends template.jade

block content
	h1(style="font-size: 26px; font-weight: bold; padding: 0; margin: 0 0 15px 0;")  #{customer.name}, здравствуйте.

	div #{email.body}

	// Start project
	p(style="padding: 0; margin: 0 0 15px 0;") Чтобы проект получился максимально полноценным и был эффективным во всех отношениях, нашей команде необходимо получить от вас следующее:
	ul(style="margin: 15px 0; padding: 0 0 0 30px;")
		li(style="margin: 0 0 5px; padding: 0;")
			b Все необходимые для верстки макеты в формате PSD или Sketch
			br
			| Также необходимо приложить макеты в формате jpg для демонстрации всевозможных состояний.
		li(style="margin: 0 0 5px; padding: 0;")
			b Нестандартные шрифты
			br
			| В том случае, если в проекте используются нестандартные шрифты, которые отсутствуют в свободном доступе, их необходимо передать в архиве.
		li(style="margin: 0 0 5px; padding: 0;")
			b SVG иконки (опционально)
			br
			| Если сайт разрабатывается на векторной графике, необходимо приложить к материалам все используемые в дизайне иконки в форматах svg или ai.
		li(style="margin: 0 0 5px; padding: 0;")
			b Комментарии от дизайнера
			br
			| Дизайнер должен описать поведение элементов на сайте, а также куда необходимо обратить внимание во врем верстки.
		li(style="margin: 0 0 5px; padding: 0;")
			b Комментарии от программиста
			br
			| Иногда программисты также могут ориентироваться на некоторые требования, которые нашей команде следует учесть при верстке.
		li(style="margin: 0 0 5px; padding: 0;")
			b Макет со всеми состояниями и формами
			br
			| Сюда необходимо включить наведения для ссылок, копок и прочих интерактивных элементов, таких как формы.
		li(style="margin: 0 0 5px; padding: 0;")
			b Макет почтового отправления (опционально)
			br
			| Для каждого сайта необходимо разрабатывать шаблон почтового сообщения со всеми элементами стиля компании.
		li(style="margin: 0 0 5px; padding: 0;")
			b Макеты адаптивной версии (опционально)
			br
			| В том случае, если необходима разработка адаптивной версии сайта.
		li(style="margin: 0 0 5px; padding: 0;")
			b Иконки (опционально)
			br
			| Необходимо приложить фавикон, иконки для iOs и социальных сетей.

	p(style="margin: 0 0 5px 0; padding: 0;")
		| Если у Вас возникли какие-либо вопросы, пожалуйста свяжитесь со мной удобным для Вас способом:
	p(style="margin: 0 0 15px 0; padding: 0;")
		| – эл. почта: 
		a(href="html@goodcode.ru", style="color: #28cae0; text-decoration: none; border-bottom: 1px solid rgba(40, 202, 224, 0.4);") html@goodcode.ru
		br
		| – тел.: 
		a(href="tel:#", style="color: #28cae0; text-decoration: none; border-bottom: 1px solid rgba(40, 202, 224, 0.4);") +7 863 233-33-33
		br
		| – skype: 
		a(href="#", style="color: #28cae0; text-decoration: none; border-bottom: 1px solid rgba(40, 202, 224, 0.4);") goodcode_studio

	p(style="margin: 25px 0 0 0; padding: 0; text-align: right;")
		i
			| С уважением,
			br
			| ответственный за Ваш проект
			br
			| Кирикович Александр Юрьевич.

