doctype html
html(lang="ru")
	head
		style(type="text/css").
			a:hover {
				border-bottom-color: transparent !important;
			}

	body
		table(width="800px", align="center", cellspacing="0", cellpadding="0", style="font-family: Arial; line-height: 1.2; color #000; background-color: #FFF; border: 1px solid #E7E7E7;")
			tr
				td(style="padding: 20px 0 20px 20px;")
					a(href="http://goodcode.ru", target="_blank", style="display: block; text-decoration: none;")
						img(src="http://goodcode.ru/extra/logo.png", alt="GoodCode", width="300", height="70")
				td(style="padding: 20px 20px 20px 0;")

			tr
				td(colspan="2", style="font-size: 14px; line-height: 1.4;")
					table(width="100%", style="background-color: #E7E7E7;")
						tr
							td(style="padding: 40px 20px;")

								block content

			tr
				td(colspan="2", height="30px")
			tr
				td(style="padding: 0 0 20px 20px; vertical-align: top;", width="60%")
					p(style="margin: 0; padding: 0 0 3px 0; font-size: 14px;")
						| Качественная верстка для профессионалов.
					p(style="margin: 0; padding: 0 0 3px 0; font-size: 14px;") В каждый проект включено: адаптивная версия, оптимизация скорости загрузки, SEO-подготовка.
					p(style="margin: 0; padding: 0 0 3px 0; font-size: 14px;") Гарания и консультирование.

				td(style="padding: 0 20px 20px 0; vertical-align: top;", width="30%")
					p(style="margin: 0; padding: 0 0 3px 0; font-size: 14px;")
						| Студия разработки 
						a(href="http://html.goodcode.ru", target="_blank", style="color: #28cae0; text-decoration: none; border-bottom: 1px solid rgba(40, 202, 224, 0.4);") GoodCode
					p(style="margin: 0; padding: 0 0 3px 0; font-size: 14px;")
						| эл.почта: 
						a(href="html@goodcode.ru", style="color: #28cae0; text-decoration: none; border-bottom: 1px solid rgba(40, 202, 224, 0.4);") html@goodcode.ru
					p(style="margin: 0; padding: 0 0 3px 0; font-size: 14px;")
						| тел.: 
						a(href="tel:#", style="color: #28cae0; text-decoration: none; border-bottom: 1px solid rgba(40, 202, 224, 0.4);") +7 863 233-33-33
					p(style="margin: 0; padding: 0; font-size: 14px;")
						| skype: 
						a(href="#", style="color: #28cae0; text-decoration: none; border-bottom: 1px solid rgba(40, 202, 224, 0.4);") goodcode_studio
